NEXTAUTH_ENV="development"
NEXTAUTH_SECRET="<your-secret>" 
NEXTAUTH_URL="http://localhost:3000" 
NEXTAUTH_DEBUG="false" 
SESSION_LIFETIME_DAYS="30"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="database"
DATABASE_URL="postgresql://user:password@database:5432/database"
RPI_SHIBBOLETH_CLIENT_ID="RPI-Auth-Client-ID"
RPI_SHIBBOLETH_CLIENT_SECRET="RPI-Auth-Client-Secret"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"
MINIO_USE_SSL="false"
STUDENT_PROJECT_BUCKET_NAME="student-project-images"
BACKUP_DIR="./backup"
MINIO_VOLUME_NAME="beyondgpa_minio_data"
POSTGRES_CONTAINER_NAME="beyondgpa-database-1"
MINIO_CONTAINER_NAME="beyondgpa-minio-1"
PROFILE_PICTURE_BUCKET_NAME="profile-pictures"
MAX_PROFILE_PICTURE_SIZE_BYTES="1048576" # 1 MB


# Shadow Database is only used by prisma in development, it is not used in production
POSTGRES_SHADOW_USER="shadow"
POSTGRES_SHADOW_PASSWORD="shadow"
POSTGRES_SHADOW_DB="shadow"
SHADOW_DATABASE_URL="postgresql://shadow:shadow@dev_shadow_database:5433/shadow"

