@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Source Sans 3", sans-serif;
  --color-bg-base: #FFF5EB;
  --color-primary: #D6001C;
  --breakpoint-xs: 400px;
}